{#<!-- home/templates/about.html -->#}
{#<!DOCTYPE html>#}
{#<html>#}
{#    <head>#}
{#        <meta charset="utf-8">#}
{#        <title>Howdy!</title>#}
{#    </head>#}
{#    <body>#}
{#        <h1>Welcome to the about page</h1>#}
{#    <p>#}
{#    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis neque ex. Donec feugiat egestas dictum. In eget erat sit amet elit pellentesque convallis nec vitae turpis. Vivamus et molestie nisl. Aenean non suscipit velit. Nunc eleifend convallis consectetur. Phasellus ornare dolor eu mi vestibulum, ornare tempus lacus imperdiet. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque ut sem ligula. Mauris volutpat vestibulum dui in cursus. Donec aliquam orci pellentesque, interdum neque sit amet, vulputate purus. Quisque volutpat cursus nisl, in volutpat velit lacinia id. Maecenas id felis diam.#}
{#    </p>#}
{#    <a href="/">Go back home</a>#}
{#    </body>#}
{#</html>#}



<!-- feederfoxnew/home/templates/publishersignup.html-->
{% extends 'base.html' %} <!-- Add this for inheritance -->
{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}About Us {% endblock %}</title>
</head>
<body>
{% block pagecontent %}
 <!--header starts here -->
<div class="bg-header">
  <div class="container">
   <div class="row">
       <div class="col-md-6">
        <div id="weather-frame" class="container">
          <div id="upper-detail">
            <div id="city-name"></div>
          </div>
          <div id="lower-detail">
            <div class="row">
              <div id="temp" class="col-xs-6">
              </div>
            </div>
          </div>
        </div>
        <img src="{% static 'dist/images/logos/logo.png' %}" class="img-responsive header_img">
      </div>
      <div class="col-md-2" >
        <div class="dropdown drop1">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Publisher
            <span class="caret"></span></a>
            <ul class="dropdown-menu d1">
              <li><a target="_blank" href="{% url 'about' %}">Sign Up</a></li>
              <li><a href="#">Login</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-2">
         <div class="dropdown drop1">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Customer
            <span class="caret"></span></a>
            <ul class="dropdown-menu d1">
              <li><a href="#">Sign Up</a></li>
              <li><a href="#">Login</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-2">
         <div class="dropdown drop1">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Advertiser
            <span class="caret"></span></a>
            <ul class="dropdown-menu d1">
              <li><a href="#">Sign Up</a></li>
              <li><a href="#">Login</a></li>
            </ul>
          </div>
        </div>
      </div>
</div>
</div>

    <div class="container">

  <h2 style="color:black">Publisher Registration</h2>
      <br/><br/>
      <form id="regForm" method="post" enctype="multipart/form-data">
        {% csrf_token %}
      {{ form.as_p }}
{#          {{ form.post }}#}
      <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">submit</button>
      </form>
      <h2>{{ text }}</h2>
      </div>





<!-- footer -->

<br><br>

 <div class="bg-footer">
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="row ">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="margin-top:-47px;">
                    <div class="ft-logo"><img src="{% static 'dist/images/only_logo.png' %}" alt="" style="width:136px;height:87px;"></div>
                </div>
            </div>
            <hr class="footer-line">
            <div class="row" style="margin-top:-20px;">
                <!-- footer-about -->
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 ">
                    <div class="footer-widget">
                        <div class="footer-title">Company</div>
                        <ul class="list-unstyled">
                            <li><a href="#" class="footer_links">About</a></li>
                            <li><a href="#" class="footer_links">Support</a></li>
                            <li><a href="#" class="footer_links">Press</a></li>
                            <li><a href="#" class="footer_links">Legal & Privacy</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /.footer-about -->
                <!-- footer-links -->
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 ">
                    <div class="footer-widget ">
                        <div class="footer-title">Quick Links</div>
                        <ul class="list-unstyled">
                            <li><a href="#" class="footer_links">News</a></li>
                            <li><a href="#" class="footer_links">Contact us</a></li>
                            <li><a href="#" class="footer_links">FAQ</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /.footer-links -->
                <!-- footer-links -->
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 ">
                    <div class="footer-widget ">
                        <div class="footer-title">Social</div>
                        <ul class="list-unstyled">
                            <li><a href="#" class="footer_links">Twitter</a></li>
                            <li><a href="#" class="footer_links">Google +</a></li>
                            <li><a href="#" class="footer_links">Linked In</a></li>
                            <li><a href="#" class="footer_links">Facebook</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /.footer-links -->
                <!-- footer-links -->
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-6 col-6 ">
                    <div class="footer-widget ">
                        <h3 class="footer-title">Subscribe Newsletter</h3>
                        <form>
                            <div class="newsletter-form">
                                <input class="form-control" placeholder="Enter Your Email address" type="text">
                                <button class="btn btn-sm btn-footer" type="submit">Go</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.footer-links -->
                <!-- tiny-footer -->
            </div>
            <div class="row ">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center ">
                    <div class="tiny-footer">
                        <p class="footer_para">Copyright © All Rights Reserved 2020 | Template Design & Development by <a href="https://easetemplate.com/downloads/bitcoin-cryptocurrency-website-template-amazing-design " target="_blank" class="copyrightlink">Feederfox</a></p>
                    </div>
                </div>
                <!-- /. tiny-footer -->
            </div>
        </div>
    </div>
    <!-- /.footer -->
  </div>

{% endblock %}
</body>
</html>